 /* reset */
 *,
 *::after,
 *::befor {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 a {
     text-decoration: none;
     color: inherit;
 }

 ul {
     list-style: none;
 }

 img {
     display: block;
     max-width: 100%;
 }

 input,
 button {
     font: inherit;
     border: none;
     outline: none;
 }

 button {
     cursor: pointer;
 }

 /* variables */
 :root {
     /* color */
     --primmary: rgb(216, 243, 64);
     --primary-dark: rgb(251, 203, 61);
     --secondary: rgb(240, 186, 9);
     --surface: rgb(246, 211, 95);
     --surface-hover: rgb(251, 194, 5);
     --border: rgb(247, 224, 149);
     --white: rgb(250, 239, 205);
     --text: rgb(78, 78, 76);
     --text-light: rgb(135, 135, 132);
     --success: rgb(10, 205, 10);
     --placeholder: #926004;
     --surface-focus: #f58443;

     /* shadow */

     --shadow-lg: 0 25px 50px rgb(194, 153, 18);
     --shadow-sm: 0 25px 50px rgb(240, 186, 9);

     /* radios */
     --radios-xl: 32px;
     --radios-lg: 32px;
     --radios-md: 32px;
     --radios-sm: 32px;


     /* Transition */
     --trantition: .2s ease;
 }

 /* body */
 body {
     font-family: inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: var(--text);
     background: radial-gradient(circle at top left, #fa7b04 0%, transparent 35%),
         radial-gradient(circle at bottom right, #ff8d01 0%, transparent 30%),
         linear-gradient(135deg, #f6f2d3, #f8f285, #f5e504);
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 40px;
 }

 /* wrapper */
 .wrapper {
     width: min(1400px, 100%);
     min-height: 780px;
     display: grid;
     grid-template-columns: 480px, 1fr;
     overflow: hidden;
     border-radius: var(--radios-xl);
     background-color: var(--surface);
     border: 1px solid var(--border);
     box-shadow: var(--shadow-lg);
     backdrop-filter: blur(30px);
 }

 .log {
     display: flex;
     align-items: center;
     gap: 14px;
     margin-bottom: 25px;
     font-size: 1.1rem;
     font-weight: 700;
     color: var(--white);
 }

 .logo i {
     width: 55px;
     height: 55px;
     border-radius: var(--radios-md);
     display: grid;
     place-items: center;
     font-size: 1.35rem;
     background: linear-gradient(135deg, var(--primmary), var(--primary-dark));
     box-shadow: 0 15px 35px rgba(219, 171, 12, 0.35);
 }

 .gallery {
     /* Temporary */
     display: none;
 }

 .login-form {
     display: flex;
     flex-direction: column;
     gap: 24px;

 }

 .input-group {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .input-group label {
     font-size: .92rem;
     font-weight: 700;
     color: var(--text);
 }

 .input-group input {
     width: 100%;
     height: 58px;
     padding-inline: var(--border)20px;
     border-radius: 16px;
     background: var(--surface);
     border: 2px solid var(--border);
     color: var(--white);
     transition: var(--trantition);

 }

 .input-group input::placeholder {
     color: var(--placeholder);

 }

 .input-group input:hover {
     background: var(--surface-hover);

 }

 .input-group input:focus {
     border-color: var(--primmary);
     background: var(--surface-focus);
     box-shadow: 0 0 0 5px gitrgb(235, 235, 36);
 }